.order-fooddetails{
   
    display: flex;
  gap:40px;
  justify-content: space-between;
   
 margin-left: 80px;
    margin-right: 90px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 40px;
    border: solid 1px black;
}
.container div{

    width:100px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

p {
    font-size: 20px;
    margin: 0;
}
#list-food{
    padding: 0px;
    width: 150px;
   
}
button{
    height: 40px;
    width:100px;
    border-radius:10px;
    font-size: 15px;
    
}
button:hover{
    background-color: rgb(12, 155, 180);
}
h4{
    font-size:20px;
}