/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
} */

header{
    background-image: url("image/background.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    padding: 2px 0px;
}

.navbar ul{
    list-style:none;
    display:flex;
}

.navbar ul li{
    margin-left:20px;
    justify-content: space-between;
}

.navbar ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
.main{
    display:flex;
    align-items:center;
    height:60vh;
    padding-left:50px;
}

.main-text h1{
    font-size:50px;
    margin:10px 0;
}
.small-title{
    color:#ffcc99;
}
.products{
    padding:50px;
    text-align:center;
}

.product-box{
    display:flex;
    justify-content:center;
    gap:20px;
}

.card{
    width:200px;
    border:1px solid #ddd;
    padding:10px;
}

.card  img{
    width:100%;
    height:150px;
    object-fit:cover;
}


